.titulo-principal {
    font-size: 300%;
    /*
    color: $color-principal;
    */
  }
  .titulo-principal2 {
    font-size: 300%;
    color:map-get($colores , color-secundario);
  }
  .titulo-comunidad{
    color:map-get($colores , color-secundario)
  }
  .titulo-formulario1{
    color:map-get($colores , color-secundario)
  }
  @mixin background {
    background-color: #272B32;
  }
  %hola{
    color: rgb(255, 255, 255);
  }
  @mixin perfiles {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: #2D3138;
    box-shadow: 19px 7px 32px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    border-radius: 45px;
    
  }