.titulo-principal {
    font-size: 300%;
    /*
    color: $color-principal;
    */
  }
  .titulo-principal2 {
    font-size: 300%;
    color:map-get($colores , color-secundario);
  }
  @mixin background {
    background-color: rgb(0, 0, 0);
  }
  %hola{
    color: yellow;
  }