
.navbar {
  background: linear-gradient(180deg, #000000 0%, #383E48 100%);
}

.navbar{
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

.fa-biohazard {
  color: white;
}

.btn-outline-success {
  color: white;
  border-color: white;
}

body {
  background-color: rgb(0, 0, 0);
  @include background;
  @extend %hola;
}

.contenedor {
  width: 30%;
  color: white;
}

.contenedorproducto{
  width: 40%;
}

.titulo {
  margin-left: 20%;
  margin-top: 10%;
}

.titulo-principal {
  font-size: 3vw;
  color:map-get($colores , color-secundario)
}

.parrafo-titulo {
  margin-top: 20px;
  font-size: 1vw;
}

.contenedor2 {
  margin-top: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "monitor titulo";
}

.titulo2 {
  grid-area: titulo;
  color: white;
}

.titulo-principal2 {
  font-size: 300%;
}
.laptop {
  grid-area: laptop;
  margin-left: 20%;
}

.monitor {
  width: 80%;
  justify-self: center;
}

.monitor2 {
  width: 80%;
  justify-self: center;
}

.contenedor3 {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-areas: "titulo" "laptop";
}

footer {
  background-color: rgb(31, 31, 31);
  color: white;
  margin-top: 0%;
}

.formulario {
  margin-left: 6%;
}

.input-group {
  width: 40%;
  margin-top: 1.5%;
}

.form-control {
  background-color: rgb(255, 255, 255);
  border: none;
}

.titulo-formulario {
  color: white;
  margin-top: 6%;
  margin-left: 6%;
}

.contenedor-soporte {
  background-image: url(https://insysmx.com/wp-content/uploads/2017/01/4.gif);
  background-repeat: no-repeat;
  padding-bottom: 8%;
  padding-top: 6%;
}

.carruselb1 {
  margin-bottom: 30%;
  left: 0;
  margin-left: 10%;
  text-align: left;
  font-size: 4vh;
}

.contenedor2home {
  margin-top: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "titulo monitor";

  .monitor1 {
    grid-area: monitor;
    align-self: center;
    justify-self: center;
  }

  .titulo2 {
    grid-area: titulo;
    color: white;
  }
}
.asdsa{
  margin-left: 10%;
}
.monitorhome {
  margin-left: 20%;
}

.contenedorcarrusel{
  max-height: 100%;
}

.search-box{
  background: #57595b;
  height: 40px;
  border-radius: 40px;
}

.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
  top: 50px;
  text-decoration: none;
}

.search-box:hover > .search-btn{
 background: rgb(49, 49, 49);
 color: white;
 text-decoration: none;
   }

.search-btn{
  color: #ffffff;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6c757d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
}
.monitor3{
  margin-left:50% ;
  width: 50%;
  height: auto;
  grid-area: monitor3;
}
.titulo3{
  margin-left: 6%;
  margin-right: 25%;
  grid-area: titulo3;
}
.search-txt{
border: none;
background: none;
outline: none;
float: left;
padding: 0;
color: white;
font-size: 16px;
transition: 0.4s;   
line-height: 40px;
width: 0px;
}

.titulo-comunidad{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
a{
  color: #ffffff;

}

.conteiner-perfiles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: 2rem auto;
  grid-template-rows: auto;
  grid-gap: 50px;
  justify-content: space-evenly;
  justify-items: center;
  grid-template-areas: 
  "tarjeta-perfiles1 tarjeta-perfiles2 tarjeta-perfiles3"
  "tarjeta-perfiles4 tarjeta-perfiles5 tarjeta-perfiles6";
  .descripcion{
    text-align: center;
    margin: 10px 20px 16px 20px;
    padding: 30px;
    font-size: 2vh;
  }
  .avatar{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    max-width: 40%;
    height:auto;
    padding: 10px;
    margin: 14px;
  }
  .tarjeta-perfiles1{
    grid-area: tarjeta-perfiles1;
    @include perfiles;
  }
  .tarjeta-perfiles2{
    grid-area: tarjeta-perfiles2;
    @include perfiles;
  }
  .tarjeta-perfiles3{
    grid-area: tarjeta-perfiles3;
    @include perfiles;
  }
  .tarjeta-perfiles4{
    grid-area: tarjeta-perfiles4;
    @include perfiles;
  }
  .tarjeta-perfiles5{
    grid-area: tarjeta-perfiles5;
    @include perfiles;
  }
  .tarjeta-perfiles6{
    grid-area: tarjeta-perfiles6;
    @include perfiles;
  }
}
.hover-tarjeta:hover {box-shadow: 40px 14px 64px rgba(0, 0, 0, 0.25);}

a:hover {color: orange; text-decoration: none;}
.fa-bars{
  color: white;
  font-size: 120%;
}
.nombres-avatar{
  text-align: center;
}
@media (max-width: 820px){
  .descripcion{
    font-size: 1.75vh;
  }
}
@media (max-width: 820px){
  .conteiner-perfiles{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 2rem auto;
  grid-template-rows: auto;
  grid-gap: 50px;
  justify-content: space-evenly;
  justify-items: center;
  grid-template-areas: 
  "tarjeta-perfiles1 tarjeta-perfiles2"
  "tarjeta-perfiles3 tarjeta-perfiles4"
  "tarjeta-perfiles5 tarjeta-perfiles6";
  .descripcion{
    font-size: 2vh;
  }
  }
  .contenedor2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "titulo"
    "monitor";
  }
  .contenedor2home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
     "titulo"
     "monitor";

}
.contenedor3{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "monitor3"
  "titulo3";
.monitor3{
  margin-right: 25%;
}
.titulo3{
  font-size: 2vh;
}
}
.titulo-principal2{
  text-align: center;
  font-size: 6vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
.parrafo{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 4vw;
}
.monitorhome{
  margin-left: 0%;
}
.contenedorproducto{
  width: 100%;
}
.titulo{
  margin-left: 0%;
}
.input-group{
  width: 80%;
}
}
@media (max-width: 480px){
  .conteiner-perfiles{
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 2rem auto;
    grid-template-rows: auto;
    grid-gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
    grid-template-areas: 
    "tarjeta-perfiles1"
    "tarjeta-perfiles2"
    "tarjeta-perfiles3"
    "tarjeta-perfiles4"
    "tarjeta-perfiles5"
    "tarjeta-perfiles6";
    }
    .descripcion{
      font-size: 3vh;
    }
    .titulo-comunidad-texto{
      font-size: 5vh;
      margin-top: 7%;
    }
}